.jumbotron {
  background-color: #ecf01d;
  color: black; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #ecf01d;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }
